<h1>The homepage of nowhere</h1>

<a href="{% url 'posts:create' %}">New Post</a>

<br/>
<hr/>

{% for post in posts.all %}

	<form method="POST" action="{% url 'posts:upvote' post.id %}">
	{% csrf_token %}
		<input type="submit" value="UP">
	</form>
	{{ post.votes_total }} <a href="{{ post.url }}"> {{ post.title }}</a>
	{{ post.pub_date}} by {{ post.author.username }}
	<form method="POST" action="{% url 'posts:downvote' post.id %}">
	{% csrf_token %}
		<input type="submit" value="DOWN">
	</form>
	<hr>

{% endfor %}
